# SPDX-FileCopyrightText: 2026 Tazlin
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[submodule "docs/haidra-assets"]
	path = docs/haidra-assets
	url = https://github.com/Haidra-Org/haidra-assets.git
