werkzeug==2.1.2
Flask
flask-restx
flask_limiter
Flask-Caching   
waitress
requests >= 2.27
Markdown
flask-dance[sqla]
blinker
python-dotenv
loguru
bleach
alt-profanity-check
better_profanity
python-dateutil
redis
pillow
flask_sqlalchemy 
