werkzeug~=2.2.2
Flask~=2.2.2
flask-restx
flask_limiter
Flask-Caching   
waitress~=2.1.2
requests >= 2.27
Markdown~=3.4.1
flask-dance[sqla]
blinker
python-dotenv
loguru~=0.6.0
bleach~=5.0.1
alt-profanity-check
better_profanity
python-dateutil~=2.8.2
redis~=4.3.5
pillow~=9.3.0
flask_sqlalchemy 
oauthlib~=3.2.2
SQLAlchemy~=1.4.44
psycopg2-binary
boto3
regex
git+https://github.com/Patreon/patreon-python.git