# SPDX-FileCopyrightText: 2024 db0
# SPDX-FileCopyrightText: 2026 Tazlin
#
# SPDX-License-Identifier: CC0-1.0

pytest==9.0.2
ruff==0.15.12
tox~=4.14.1

pytest-asyncio
pytest-cov
fakeredis
freezegun
testcontainers[postgres,redis]
mypy
pip-audit
reuse
pre-commit
