{% extends "master.html" %}
{% block content %}
    {% if oauth_id is none and pseudonymous is false %}
    <div class="container">
        <p style="color:#333;">You are not logged in, Click one of the below links to sign in.</p>
        <div class="login-btn">
            <a href="/google/register" class="google-btn">
            <div class="login-icon-wrapper">
                <img class="login-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
            </div>
            <p class="btn-text"><b>Sign in with google</b></p>
            </a>
            <a href="/discord/register" class="discord-btn">
            <div class="login-icon-wrapper">
                <img class="login-icon" src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/62595384e89d1d54d704ece7_3437c10597c1526c3dbd98c737c2bcae.svg"/>
            </div>
            <p class="btn-text"><b>Sign in with discord</b></p>
            </a>
            <a href="/github/register" class="github-btn">
            <div class="login-icon-wrapper">
                <img class="login-icon" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"/>
            </div>
            <p class="btn-text"><b>Sign in with github</b></p>
            </a>
        </div>
    </div>
    {% endif %}
   <div class="container">
        {% if oauth_id is not none and pseudonymous is not true %}
        <h1>{{ welcome }}</h1>
        <h2>Set Display Name</h2>
        <p>This is used in statistics</p>
        <p>Note: Changing your username will generate a new API key!</p>
        {% else %}
        <h1>Welcome</h1>
        <h2>Set Display Name</h2>
        <p>This is used in statistics</p>
        <p style="background-color:Tomato;">WARNING: You are not logged in!</p>
        <p>If you submit a username, it will create a new user with a random API key <b>which cannot be maintained by us!</b></p>
        <p>If you forget/lose this API Key, there's nothing we can do to recover it. You'll have to create a new account.</p>
        <p>To ensure you avoid this fate, please login using one of the buttons above first!</p>
        {% endif %}
        <form method="POST" class="main-form">
            <div class="form-group">
                <label for="username">Display Name *</label>
                {% if username is none %}
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Display Name" required>
                {% else %}
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Display Name" value="{{ username }}" required>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-default">Submit</button>           
        </form>
        {% if api_key is not none %}
        <h2>API Key</h2>
        <p>Your new API Key is below. It will not be displayed again. Submit this form to generate a new one. Use this key in your client and in your bridge to identify your user</p>
        <p><b>Do not share this with anyone!</b></p>
        <p style="background-color:darkorange;">{{ api_key }}</p>   
        {% endif %}
        <h2>Privacy Policy</h2>
        <p>The only information we store from your account is your unique ID for uniqueness.</p>
        <p>We do not other use your id for any purpose.</p>
   </div> 
<p><a href="/">Back to Main page</a></p>
{% endblock %}