{% extends "master.html" %}
{% block content %}
<h1>Sponsors</h1>
<ul>
    <li><a href="https://stability.ai"><img src="assets/stability.ai.png" /></a></li>
    <li><a href="https://tensorplay.ai"><img src="assets/TensorPlay.ai.png" /></a></li>
    <li><a href="https://getipintel.net">GetIPIntel.net - Free Proxy/VPN Detection</a></li>
    <!-- <li><a href="https://stability.ai">stability.ai - The Creators of Stable Diffusion</a></li> -->
    {% for sponsor in all_sponsors %}
        <li><a href="{{ sponsor.url }}">{{ sponsor.name }}</a></li>
    {% endfor %}
</ul>


<br/>
<h1><a href="https://www.patreon.com/db0">Patrons</a></h1>
{{ all_patrons }}
<br/>
<br/>
<p><a href="/">Back to Main page</a></p>
{% endblock %}
